body {
    margin: 0;
    overflow: hidden;
}

#board-container {
    width: 75vw;
    height: 100vh;
}

#inspectator {
    position: absolute;
    top: 0;
    right: 0;
    width: 25vw;
    height: 100vh;
}